@model AdventureWorks.WebUI.MVC.Models.EmployeeEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Edit Employee</legend>
        @Html.HiddenFor(m=>m.EmployeeId)
        <p>
            @Html.LabelFor(m => m.NationalIdNumber)
            @Html.EditorFor(m => m.NationalIdNumber)
        </p>
        <p>
            @Html.LabelFor(m => m.Title)
            @Html.EditorFor(m => m.Title)
        </p>
        <p>
            @Html.LabelFor(m => m.BirthDate)
            @Html.EditorFor(m => m.BirthDate)
        </p>
        <p>
            @Html.LabelFor(m=>m.MaritalStatus)
            @Html.DropDownListFor(m=>m.MaritalStatus,Model.MartialStatusList)
        </p>
        <p>
            @Html.LabelFor(m=>m.Gender)
            @Html.DropDownListFor(m=>m.Gender,Model.GenderList)
        </p>
        <p>
            @Html.LabelFor(m=>m.SalariedFlag,"工作分类")
            @Html.DropDownListFor(m=>m.SalariedFlag,Model.SalaryTypeList)
        </p>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
